<div class="container-box d-flex">
  <div class="cards-index ml-5 mr-1 my-3">
  <% @costumes.each do |costume| %>
    <%= link_to costume_path(id:costume, query: params[:query]) do %>
    <div class="card-product" style="width: 800px;">
      <%= cl_image_tag costume.photo.key, width: 350, height: 200, gravity: :face, crop: :fill %>
      <div class="card-product-infos">
        <h2 class="pt-1"><strong><%= costume.name %></strong></h2>
        <strong><small><em><%= costume.user.address %></em></small></strong>
        <p> <strong><%= costume.category %></strong></p>
        <p><%= costume.description %></p>
        <%= link_to costume_path(id: costume) do %>
        <div class="price">
          <h6 class="text-success" style="position: relative; right: 12px;">Free shipping</h6>
          <p><strong>$<%= costume.price %>/ day</p></strong>
        </div>
        <div class="rating-index">
          <i class="fas fa-star"></i><%= costume.average_rating %>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>
  <% end %>
</div>
    <div id="map"
        style="width: 100%; height: 100vh; overflow: hidden;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

<div class="alert alert-danger" role="alert">
  <a href="/" class="alert-link btn-lg"><i class="fas fa-home"></i></a>
</div>
