<div class="d-flex">
<h1 class="alert-danger text-center mx-5 mt-5 mb-3 p-1" role="alert"><strong>Costume</strong></h1>
</div>
<div class="cards-index mx-5 mt-3">
 <% @costumes.each do |costume| %>
  <div class="card-product" style="width: 800px;">
    <img src="https://i.etsystatic.com/12047134/r/il/3279fc/1964607794/il_794xN.1964607794_c4i2.jpg" />
    <div class="card-product-infos">
        <ul class="list-inline d-flex">
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
        </ul>
      <div class="heart"><i class="fas fa-heart"></i> </div>
      <h2 class="pt-1"><strong><%= costume.name %></strong></h2>
      <p> <strong><%= costume.category %></strong></p>
      <p><%= costume.description %></p>
      <%= link_to costume_path(costume) do %>
      <div class="boton">
        <button type="button" class="btn btn-outline-danger btn-block m-1 ">Rent me!</button>
      </div>
      <div class="price">
        <p><strong>$<%= costume.price %>/ day</p></strong>
      </div>
    </div>
    <% end %>
  </div>
<% end %> 
</div>
<div class="alert alert-danger" role="alert">
  <a href="/" class="alert-link btn-lg"><i class="fas fa-home"></i></a>
</div>
