<div class="container d-flex flex-wrap">
  <% @bookings.sort_by(&:total_price).reverse.each do |booking| %>
    <div class="card-trip m-2">
      <%= cl_image_tag booking.costume.photo.key, width: 350, height: 200, gravity: :face, crop: :fill  %>
      <div class="card-trip-infos">
        <div>
          <h2><%= "Owner@me.com"%></h2>
          <p><%= booking.costume.name%></p>
          <p><%= booking.checkout_date%></p>
          <p><%= booking.return_date%></p>
          <!--<% total_days = (booking.return_date - booking.checkout_date).to_i %>-->
          <p><%= booking.total_days %> day rental at $<%= booking.costume.price %> a day</p>
          <!--<#% total_price = booking.costume.price * total_days %>-->
        </div>
        <h2 class="card-trip-pricing"><%= "$#{booking.total_price}/total"%></h2>
          <% if booking.costume.user.photo.attached? %>
            <%= cl_image_tag booking.costume.user.photo.key, class: "avatar-bordered card-trip-user", gravity: :face, crop: :fill %>
          <% else %>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          <% end %>
        <% if current_user.email == "blamb888@gmail.com"  && booking.pending?%>
          <%= link_to "Confirm Booking", confirm_booking_path(booking), class: "nav-link" %>
        <% else %>
          <h2><%= booking.status %></h2>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
